<%= if @articles  do %>
  <section class="section">
    <div class="container">
      <div class="h-20 columns is-multiline">
        <%= for {article, counter } <- Enum.with_index(@articles)  , do: render_article(@socket, article, counter ) %>
      </div>
    </div>
  </section>
<% end %>
